@model ApplyUni.Models.Payment

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Back/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="margin-left: 20px;">
        <dt>
           Card name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.card_name)
        </dd>

        <dt>
           Card number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.card_number)
        </dd>

        <dt>
           CVN number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cvn_number)
        </dd>

        <dt>
           Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
           Pay method
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pay_method.card_name)
        </dd>

        <dt>
            User name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.first_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
