@model IEnumerable<ApplyUni.Models.SameDate>

@{
    ViewBag.Title = "General Information";
    Layout = "~/Areas/Back/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>General Information</h2>

<p>
    @Html.ActionLink("Create New", "Create", "SameDates", null, new { @class = "btn btn-gradient waves-light waves-effect w-md" })

</p>
<div class="card-box table-responsive">
    <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                Logo
                </th>
                <th>
                    Facebook link
                </th>
                <th>
                   Linkedin link
                </th>
                <th>
                   Twitter link
                <th>
                   Google link
                </th>
                <th>
                   Instagram link
                </th>
                <th>
                   Phone
                </th>
                <th>
                Location
                </th>
                <th></th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/Uploads/@Html.DisplayFor(modelItem => item.logo)" width="100" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.facebook)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.linkedin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.twitter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.google)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.instagram)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.location)
                    </td>
                    <td>
                        <button class="btn-outline-** btn btn-light waves-effect w-md">
                            @Html.ActionLink("Edit", "Edit", new { id = item.id, @style = "color:black" })
                        </button>
                        <button class="btn-outline-** btn btn-light waves-effect w-md">
                            @Html.ActionLink("Details", "Details", new { id = item.id })
                        </button>
                        <button class="btn-outline-** btn btn-light waves-effect w-md">
                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                        </button>
                    </td>
                </tr>
            }

    </table>
    </div>