@model ApplyUni.Models.study_program

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Back/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="margin-left: 20px;">
        <dt>
          Study Program name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.program_name)
        </dd>

        <dt>
            Program fee
        </dt>

        <dd>
            @Html.DisplayFor(model => model.program_fee)
        </dd>

        <dt>
          Study field name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.study_field.field_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
