@model ApplyUni.Models.Users

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Back/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal" style="margin-left: 20px;">
        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bugdet.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bugdet.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.citizinship.citizinship1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.citizinship.citizinship1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.country_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.country_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country1.country_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country1.country_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.degree_level.level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.degree_level.level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.study_field.field_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.study_field.field_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_finance_plan.plan_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_finance_plan.plan_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
